@use 'config' as *;

.form {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 150px;
  display: none;
  background-color: cadetblue;
}
.visible {
  display: block;
}

.hidden {
  display: none;
}

.elementTitle {
  width: 200px;
  height: 50px;
  display: block;
}

.elementDescription {
  width: 200px;
  height: 50px;
}